@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  min-height: 100vh;
  /* Fix for iOS Safari */
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overscroll-behavior-y: none;
  position: relative;
}

/* Styles for anchor links considering fixed header */
html {
  scroll-behavior: smooth; /* Smooth scrolling */
  scroll-padding-top: 5rem; /* Top offset to account for header height */
  height: 100%;
  overflow-y: auto;
}

/* Reduce offset for mobile devices */
@media (max-width: 768px) {
  html {
    scroll-padding-top: 4rem;
  }
}
